body {
    color:#EBBC4A;
    background-color:#0b0c0d;
    min-width: 500px;
    white-space: nowrap;
    font-family: coda_regular, arial, helvetica, sans-serif;
}


.resistance
{
	color: #00c2ff;
	border-color: #00c2ff;
}

.enlightened
{
	color: #28f428;
	border-color: #28f428;
}

.classic
{
	color: #ebbc4a;
	border-color: #ebbc4a;
}


@font-face {
    font-family: coda_regular;
    src: url('lib/Coda/coda_regular.ttf');
}

img
{
    width: 30px;
    height: 30px;
}

.horizontalFlex {
    display: -webkit-box;
    -webkit-box-align:center; /*This makes it so the icons shift vertically if the center text is long.*/
}

.box1 {
    -webkit-box-flex: 1;
}

.box0 {
    -webkit-box-flex: 0;
}

#windowFieldSet
{
    display: inline-block;
    border-width: 1px;
	border-style: solid;
	border-color: inherit;
    min-width: 500px;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 4px;
    margin-bottom: 4px;
}

#windowName
{
    display: inline-block;
    border-width: 1px;
	border-style: solid;
	border-color: inherit;
    padding-left: 3px;
    padding-right: 3px;
    background-color: transparent;
}

input {
    width:100%;
    background-color:#3A3F44;
    color:#EBBC4A;
    border-color:inherit;
}

#performSaveButton
{
    margin-left: 5px;
}

.link_label
{
    min-width: 130px;
}

#closeDiv
{
    display: inline-block;
    position: absolute;
    top: 0px;
    z-index: 100;
    margin-top: 7px;
    margin-left: -25px;
    width: 30px;
    height: 30px;
    overflow: hidden;
}

img.closeButton
{
	height: 36px;
    width: 36px;
    margin-left: -3px;
    margin-top: -2px;
	content:url("res/ic_menu_close_clear_cancel.png");
	-webkit-mask-box-image: url("res/ic_menu_close_clear_cancel.png");
	-webkit-mask-size: 100%;
	-webkit-filter: contrast(250%);
}

.resistance img.closeButton
{
	background-color: #00c2ff;
}

.enlightened img.closeButton
{
	background-color: #28f428;
}

.classic img.closeButton
{
	background-color: #ebbc4a;
}

#notifyStatus
{
    width: 100%;
    display: none;
    text-align:center;
}
